/*.dump
/db/redis
/db/pg-data/
/db/data-*
.DS_*
/.DS_*

/.env
/.env*

/*_keys

/public/uploads
/public/assets

/.rvmrc
/.bundle

/db/*.sqlite3
/db/test*
/db/pg-*

/log/*.log

/tmp
/doc/notes

/.project

